In [3]:
import pandas as pd
import numpy as np

df_dp = pd.read_csv("/workspaces/Accident-Opt-Strabag/DataFiles/KMeans_clusters.csv")
df_s=pd.read_csv("/workspaces/Accident-Opt-Strabag/DataFiles/sources_coord.csv")
# Drop the first row if needed

cord_dp = df_dp[['Accident_LATITUDE', 'Accident_LONGITUDE']]
cord_s=df_s[['Latitude','Longitude','Chainage']]

# Each DP Cord and 1st Source Point cord

In [4]:
cord_dp

    Accident_LATITUDE  Accident_LONGITUDE
0           17.354695           78.670910
1           17.549523           78.277730
2           17.350922           78.359623
3           17.595073           78.505587
4           17.213877           78.534427
5           17.237940           78.381955
6           17.526233           78.640257
7           17.571530           78.379460
8           17.416915           78.344540
9           17.459217           78.252203
10          17.446370           78.668743
11          17.565378           78.619475
12          17.230818           78.575885
13          17.312610           78.656528
14          17.606600           78.454570
15          17.527048           78.240030
16          17.311622           78.377375
17          17.203400           78.412433
18          17.205100           78.489280
19          17.559485           78.325715
20          17.413430           78.301310
21          17.398865           78.683545
22          17.389173           78.350535
23          17.484070           78.666100
24          17.256490           78.618570
25          17.258953           78.377560

In [5]:
cord_s

    Latitude  Longitude  Chainage
0   17.40713   78.33044      2.00
1   17.46308   78.24922     13.90
2   17.53758   78.23448     22.50
3   17.55849   78.31313     31.00
4   17.59440   78.40774     42.77
5   17.59829   78.49089     52.20
6   17.57643   78.57166     61.10
7   17.44174   78.66665     81.55
8   17.37449   78.68084     89.50
9   17.31975   78.65680     96.69
10  17.23785   78.58414    109.90
11  17.21239   78.52735    116.00
12  17.20388   78.47619    121.50
13  17.20380   78.40018    130.25
14  17.25335   78.37928    136.10
15  17.35022   78.36102    147.65